@charset "utf-8";

body{
  font-family: 'ABCArizonaflare',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

h1{
  font-size: 150px;
  display: inline-block;
  text-align: right;
}
.header-h2{
  font-size: 24px;
  font-family: 'Pretendard Variable',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  padding-top: 30px;
}
.header {
  padding: 20px 50px 50px;
  background: url(./assets/images/promotion-line.png) 50% /cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid #000;
}

video{
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 814px;
  height: 585px;
}
.header p {
  font-family: 'Pretendard Variable',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 50px;
}
.open-date{
  top: 50%;
}
.close-date{
  bottom: 50px;
}

.intro{
  font-family: 'Pretendard Variable',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.intro .close-day{
  background-color: #ff7f40;
  padding: 100px;
}
.intro .close-day h2 {
  font-size: 50px;
  font-weight: 700;
  padding-bottom: 50px;
 
  color: #4a55a5;
}
.participate-btn{
  width: 200px;
  height: 43px;
  display: flex;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
  
  border-radius: 4px;
  color: #fff;

  background-color: #4a55a5;
  
}
.participate-btn img{
  width: 16px;
  height: 16px;
  margin-left: 8px;
}

.intro .intro-txt{
  background-color: #4a55a5;
  padding: 100px;
  color: #fff;
  font-size: 18px;
  line-height: 1.7;
}
.intro .intro-txt p{
  padding-bottom: 30px;
}


.package{
  display: flex;
  padding: 100px 50px 130px;
  text-align: left;
  font-family: 'Pretendard Variable', sans-serif;
}
.package .package-side-txt p{
  font-size: 22px;
  
  font-weight: 600;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 5px;
  line-height: 1.5;
}
.package .package-section{
  margin-left: 10vw;
}
.package .package-section h2{
  font-size: 110px;
  line-height: 1;
  margin-bottom: 30px;
  font-family: 'ABCArizonaflare', sans-serif;
  
}
.package .package-section h3{
  color: #ff7f40;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 8px;
}
.package .package-section  h4{
  font-size: 18px;
  margin-bottom: 8px;
}
.package .package-section p{
  font-size: 18px;
  font-weight: 600;
}

.middle-img img{
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 100%;
}
.middle-img{
  position: relative;
}
.middle-img p {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 40px;
  letter-spacing: 1px;
}

.editorial{
  padding: 150px;
}
.editorial h3{
  color: #ff7f40;
  font-family: 'Pretendard Variable', sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 50px;
  
  
}
.editorial h2{
  text-transform: uppercase;
  font-size: 110px;
  padding-bottom: 60px;
  line-height: 1;
}
.editorial p{
  font-family:'Pretendard Variable', sans-serif ;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 60px;
}

.editorial h4{
  font-size: 20px;
  font-family:'Pretendard Variable', sans-serif ;
  padding-top: 60px;
  line-height: 1.6;
  
}
.forest-hoodie{
  background: url(./assets/images/background1.png) ;
  width: 100%;
  padding-top: 100px;
  font-family: 'Pretendard Variable', sans-serif;

}
.forest-hoodie .forest-hoodie1{
  width: 440px;
  height: 640px;
  
}
.forest-hoodie h2{
  font-size: 60px;
  font-weight: 500;
  color: #e2be94;
  letter-spacing: -1px;
  padding-top: 20px;
}
.forest-hoodie h3{
  font-size: 18px;
  color: #e2be94;
  font-weight: 500;
  line-height: 1.6;
  padding-top: 8px;
  padding-bottom: 40px;
}
.forest-hoodie .forest-hoodie-background{
  width: 100%;
  vertical-align: top;
}
.slide1, .slide2, .slide3 {
  padding-top: 100px;
  padding-bottom: 150px;
}
.slide1 {
  background-color:#7800bc ;
}
.slide1 .swiper-wrapper, .slide2 .swiper-wrapper,.slide3 .swiper-wrapper{
  gap:25px;
}
.slide1 .swiper-slide,.slide2 .swiper-slide,.slide3 .swiper-slide {
  width: auto; /* 슬라이드 너비를 이미지 크기에 맞춤 */
  flex: 0 0 auto; /* 슬라이드 크기 고정 */
  display: flex;
  justify-content: center; /* 이미지를 중앙 정렬 */
  align-items: center;
}

.slide1 .swiper-slide img,.slide2 .swiper-slide img,.slide3 .swiper-slide img {
  width: auto; /* 원본 비율 유지 */
  height: auto; /* 원본 비율 유지 */
  max-width: 100%; /* 슬라이드 영역 초과 방지 */
  max-height: 100%; /* 슬라이드 영역 초과 방지 */
  object-fit: contain; /* 원본 비율을 유지하며 맞춤 */
}
.forest-campcap{
  background: url(./assets/images/pink-bg.png);
  width: 100%;
  padding-top: 100px;
  font-family: 'Pretendard Variable', sans-serif;

}
.forest-campcap .forest-campcap1{
  width: 440px;
  height: 640px;
}
.forest-campcap h2{
  font-size: 60px;
  font-weight: 500;
  color: #7800bc;
  letter-spacing: -1px;
  padding-top: 20px;
}
.forest-campcap h3{
  font-size: 18px;
  color: #7800bc;
  font-weight: 500;
  line-height: 1.6;
  padding-top: 8px;
  padding-bottom: 40px;
}
.forest-campcap .forest-hoodie-background{
  width: 100%;
  vertical-align: top;
}

.slide2 {
  background-color: #ff73aa;
  
}


.forest-crewsocks{
  background: url(./assets/images/파란색백그라운드.png);
  width: 100%;
  padding-top: 100px;
  font-family: 'Pretendard Variable', sans-serif;

}
.forest-crewsocks .forest-crewsocks1{
  width: 440px;
  height: 640px;
}
.forest-crewsocks h2{
  font-size: 60px;
  font-weight: 500;
  color: #ff7f40;
  letter-spacing: -1px;
  padding-top: 20px;
}
.forest-crewsocks h3{
  font-size: 18px;
  color: #ff7f40;
  font-weight: 500;
  line-height: 1.6;
  padding-top: 8px;
  padding-bottom: 40px;
}
.forest-crewsocks .forest-socks-background{
  width: 100%;
  vertical-align: top;
}
.slide3 {
  background-color: #000fa0;
  
}
.checkpoint .checkpoint-txt{
  font-family:'Pretendard Variable', sans-serif;
}
.checkpoint .checkpoint-txt h2{
  font-family: 'ABCArizonaflare',sans-serif;
  font-size: 48px;
}
.checkpoint .checkpoint-txt h3{
  font-size: 18px;
}
.checkpoint .checkpoint-txt ul li{
  color: #ff7f40;
}
.checkpoint{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: 90vh;
  border: 1px solid #000;
  position: relative;
}
.checkpoint .checkpoint-txt{
  border-right: 1px solid #000;
  padding: 50px;
  text-align: left;
}
.checkpoint .checkpoint-txt h2{
  padding-bottom: 10px;
}
.checkpoint .checkpoint-txt h3{
  word-break: keep-all;
  line-height: 1.6;
}
.checkpoint .checkpoint-txt ul{
  position: absolute;
  bottom: 50px;
}
.checkpoint .checkpoint-txt ul li{
  line-height: 1.6;
}

.mySwiper2 {
  width: 100%; /* 부모 요소의 크기를 상속 */
   /* 최대 너비 설정 */
  margin: 0 auto; /* 중앙 정렬 */
  overflow: hidden; /* 넘치는 콘텐츠 숨기기 */

}
.mySwiper2 .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next, .swiper-button-prev{
  color: white; /* 버튼 색상을 흰색으로 변경 */
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 그림자 효과 추가 */
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5)); /* 더 부드러운 그림자 */
  
}
.mySwiper2 .swiper-button-prev::after{
  font-size: 24px;
}
.mySwiper2 .swiper-button-next::after{
  font-size: 24px;
}
.mySwiper2 .swiper-pagination-bullet-active {
  background-color: #fff;
}