@charset "utf-8";

@font-face {
  font-family: 'SCDream';
  src: local('SCDream'),
   url(../fonts/SCDream1.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 100;
}
@font-face {
  font-family: 'SCDream';
  src: local('SCDream'),
   url(../fonts/SCDream2.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 200;
}
@font-face {
  font-family: 'SCDream';
  src: local('SCDream'),
   url(../fonts/SCDream3.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: 'SCDream';
  src: local('SCDream'),
   url(../fonts/SCDream4.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'SCDream';
  src: local('SCDream'),
   url(../fonts/SCDream5.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: 'SCDream';
  src: local('SCDream'),
   url(../fonts/SCDream6.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: 'SCDream';
  src: local('SCDream'),
   url(../fonts/SCDream7.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}