@charset "utf-8";
body{
  overflow-x: hidden;
  font-family: 'Pretendard Variable',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}
.main-banner{
  background: url(./assets/images/banner-background.png) no-repeat 50% / cover;
  position: relative;
  height: 1308px;
  width: 100%;
}
.main-banner .main-banner-img-wrapper h2{
  text-indent: -9999px;
}
.main-banner .main-banner-img-wrapper .banner-img{
  position: absolute;
  left: 50%;

  transform: translateX(-55%);
  
  
  
}
.main-banner .main-banner-img-wrapper .banner-txt{
  
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  top:33%;
  
}
.main-banner .swiper{
  position: absolute;
  bottom: 80px;
}
.main-banner .swiper .swiper-wrapper{
  display: flex;
}
.main-banner .swiper .swiper-wrapper img{
  width: 100%;
}
.navbar {
  background: linear-gradient(90deg,#FF5A2E 10%, #FF0038 80%, #FF00EF);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top:0;
  z-index: 9999;
  
}
.navbar li {
  font-size: 30px;
  color: #fff;
  width: 400px;
  font-weight: 300;
  position: relative;
}
.navbar li::after{
  content: "";
  background-color: #fa6887;
  width: 1px;
  height: 50px;
  display: inline-block;
  position: absolute;
  right: 0;
  top:-4px;
}
.navbar li:last-child::after{
  display: none;
}
.main-title{
  font-size: 22px;
  
  margin-top: 110px;
  font-weight: 700;
  background: linear-gradient(120deg,#FF5A2E 10%, #FF0038 80%, #FF00EF);
  background-clip: text;
  color: transparent;

}
.main-title-sub{
  font-size: 56px;
  font-weight: 500;
  margin-top: 20px;
  letter-spacing: -2px;
  
}
.main-title-txt{
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.shopping-benefit ol li .coupon1{
  padding-right: 14px;
  
}
.shopping-benefit ol li .coupon-download{
  background: linear-gradient(120deg,#FF5A2E 10%, #FF0038 80%, #FF00EF);
  width: 500px;
  height: 80px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin: 0 auto;
  display: grid;
  place-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.point-bg{
  background: url(./assets/images/point-effect.png) no-repeat 50% / cover;
  width: 891px;
  height: 183px;
  margin: 0 auto;
  position: relative;
  padding-top: 20px;

}
.point-bg img{
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
}

.apply-btn{
  width: 500px;
  height: 80px;
  display: grid;
  font-size: 24px;
  color: #fff;
  background-color: #000000;
  place-items: center;
  margin: 0 auto 120px;
  margin-top: 40px;
}

/****  경품 추첨 영역 ****/
.giveaway{
  background-color: #f89af2;
}
.giveaway h2{
  color: #FF00EF;
  font-size: 22px;
  padding-top: 110px;
  font-weight: 500;
}

.giveaway .main-title-txt{
  font-size: 22px;
  margin-top: 24px;
  margin-bottom: 60px;
}
.giveaway-img-section{
  position: relative;
}
.giveaway-img-section .giveaway-img-bg{
  margin: 0 auto;
  display: block;
  
}
.giveaway-img-section .padding {
  position: absolute;
  top: 90px;
  right: 360px;
}
.giveaway-img-section  .glove{
  position: absolute;
  bottom: 170px;
  left: calc(30% - 7px);
}
.giveaway h4{
  color: #f3d2f1;
  margin-top: 50px;
  padding-bottom: 110px;
}

/**** 구매 혜택 ****/
.purchase-benefits li .main-title-txt{
  line-height: 1.7;
}
.purchase-benefits li .notification{
  padding: 0;
}
.purchase-benefits li img{
  margin-top: 30px;
  margin-bottom: 30px;
}
.purchase-benefits li h4{
  color: #868686;
}
.photo-reviews{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
.photo-reviews li figure{
  width: 375px;
  height: 525px;
  overflow: hidden;
  border-radius: 10px;
}
.photo-reviews li figure img{
  object-fit: cover;
  height: 363px;
  margin: 0;
  width: 100%;
  object-position: 50% 10%;
  vertical-align: top;
}
.photo-reviews li figure figcaption{
  text-align: left;
  padding: 30px;
  background-color: #f4f4f4;
  border-radius: 0 0 10px 10px;
}
.photo-reviews li figure figcaption p{
  padding-top: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.7;
}

.mileage-img{
  margin-top: 10px;
  margin-bottom: 10px;
}
.purchase-benefits li h4{
  color: #868686;
  padding-bottom: 110px;
}
h4{
  position: relative;
  display: inline-block;
}
h4::before{
  content: "*";
  display: block;

  
  color: #868686;
  position: absolute;
  left: -10px;
  top:2px;

}
.giveaway h4::before{
  color: #f3d2f1;
}
.coupon4{
  display: block;
  margin: 0 auto;
}
.review-event{
  background-color: #f89af2;
  padding-top: 110px;
  padding-bottom: 110px;
  
}
.review-event .main-title{
  color: #FF00EF;
  margin: 0;
  padding-bottom: 20px;
}
.review-event .main-title-sub{
  padding-bottom: 50px;
}
.review-event-btn{
  background-color: #000000;
  color: #fff;
  width: 500px;
  height: 80px;
  display: grid;
  place-items: center;
  margin: 30px auto 0;
  font-size: 24px;
 
  
}
